## Алгоритм для генерации файла с названиями игр

In [13]:
# импорты, которые точно понадобятся
import pandas as pd
import numpy as np
from IPython.display import Image, HTML

from scipy.sparse import csr_matrix
%matplotlib inline
import matplotlib.pyplot as plt

In [14]:
JSON_DATA_PATH = "C:\\temp\\meta_Video_Games.json"

In [15]:
import codecs

cols = ["asin", "title", "imUrl"]
rows = []
with codecs.open( JSON_DATA_PATH, "r", "utf_8_sig", errors='ignore' ) as f:
    for line in f:
        asin = line[10:20]
        imUrl = "";
        imUrl_start = line.find("'imUrl': '");
        if imUrl_start >= 0:
            imUrl_end = line.find("'", imUrl_start+10);
            imUrl = line[imUrl_start+10:imUrl_end]   
        title = "No title";
        title_start = line.find("'title': '");
        if title_start >= 0:
            title_end = line.find("'", title_start+10);
            title = line[title_start+10:title_end]
        rows.append((asin, title, imUrl));    
titles =  pd.DataFrame(rows, columns=cols)
titles.head()

         asin     title                                              imUrl
0  0078764343  No title  http://ecx.images-amazon.com/images/I/513h6dPb...
1  043933702X  No title  http://ecx.images-amazon.com/images/I/61KKRndV...
2  0439339987  No title  http://ecx.images-amazon.com/images/I/416QZg89...
3  0439342260  No title  http://ecx.images-amazon.com/images/I/61Wvu-Uj...
4  0439339960  No title  http://ecx.images-amazon.com/images/I/51k3oRCF...

In [16]:
titles.info()
print("title: ", len(titles.title.unique()))
print("imUrl: ", len(titles.imUrl.unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50950 entries, 0 to 50949
Data columns (total 3 columns):
asin     50950 non-null object
title    50950 non-null object
imUrl    50950 non-null object
dtypes: object(3)
memory usage: 1.2+ MB
title:  2174
imUrl:  49331

In [17]:
titles.to_csv("titles.csv", index=False)

In [18]:
q = pd.read_csv('titles.csv')
q.head()

         asin     title                                              imUrl
0  0078764343  No title  http://ecx.images-amazon.com/images/I/513h6dPb...
1  043933702X  No title  http://ecx.images-amazon.com/images/I/61KKRndV...
2  0439339987  No title  http://ecx.images-amazon.com/images/I/416QZg89...
3  0439342260  No title  http://ecx.images-amazon.com/images/I/61Wvu-Uj...
4  0439339960  No title  http://ecx.images-amazon.com/images/I/51k3oRCF...

In [19]:
q.info()
print("title: ", len(q.title.unique()))
print("imUrl: ", len(q.imUrl.unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50950 entries, 0 to 50949
Data columns (total 3 columns):
asin     50950 non-null object
title    50950 non-null object
imUrl    50730 non-null object
dtypes: object(3)
memory usage: 1.2+ MB
title:  2174
imUrl:  49331